<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kingjvk.pocket_pcr">

    <!-- Permissions for Live Streaming and Screen Recording -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:label="Pocket PCR Studio"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- ఆండ్రాయిడ్ సిస్టమ్‌కి మన క్లాస్ ఎక్కడుందో డైరెక్ట్ అడ్రస్ ఇస్తున్నాం -->
        <activity
            android:name="com.kingjvk.pocket_pcr.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- లైవ్ బ్యాక్‌గ్రౌండ్‌లో రన్ అవ్వడానికి సర్వీస్ అడ్రస్ -->
        <service
            android:name="com.kingjvk.pocket_pcr.ScreenStreamService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
